@media (min-aspect-ratio: 1/1) {
  .show-button {
    background-color: white;
    margin: 10px;
    padding: 10px;
  }

  div.panel-open.leaflet-bottom.leaflet-left {
    left: calc(150px + 10%);
    margin: 0;
    bottom: 2.2%;
  }
}
