body, html, #app, .leaflet-container {
  height: 100%;
  margin: 0 auto;
}

#app > div {
  height: 100%;
}

.leaflet-left {
  margin: 1.6%;
}

.leaflet-popup-content-wrapper {
  border-radius: 3px;
}

.leaflet-control-scale-line {
  background: unset;
}

.leaflet-control-zoom {
  border: 1px solid grey !important;
}

.show-button {
  border: 1px solid grey;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  background-clip: padding-box;
  font-weight: bold;
}

.leaflet-bar, .show-button {
  box-shadow: 1.5px 2.6px 10px 0 rgba(0,0,0,0.2) !important;
  border-radius: 0;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  border-radius: 0 !important;
}

.show-button:hover {
  background-color: #f4f4f4;
}

table {
  padding: 3px;
  border-collapse: collapse;
  table-layout: fixed;
}
