.sidepanel {
  width: calc(10% + 80px);
  bottom: 0;
  top: 0;
  border-radius: 5px;
  height: auto;
  float: left;
  position: absolute;
  background: white;
  margin: 20px;
  font-size: 0.85em;
  z-index: 999;
  box-shadow: 1.5px 2.6px 10px 0 rgba(0,0,0,0.2);
  padding: 20px;
}

.price-slider {
  width: 100%;
}

.close-button {
  float: right;
}

.sidepanel table {
  width: 100%;

}

td {
  padding: 5px;
}

td:last-child {
  text-align: right;
  white-space: nowrap;
}

tr {
  border: solid;
  border-color: #ccc;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}
